@page "/"

<html><head>
    <title>ОБРАБОТКА</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <style>
    .content {
      font-size: 18px;
    }
    </style>

    <!-- Google Analytics -->
    
    
  </head>
  <body>

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        

        <!-- Banner -->
        
          <section id="banner">
            <div class="inner">
              <div class="logo"><span class="icon fa-heart"></span></div>
              <h2>ДОСТУПЕН ПРОВАЙДЕР ARZ Host обрабатывает запрос</h2>
              <p>
                <a href="https://fm.arz-host.xyz/"><img src="https://i.ibb.co/tqMQdR7/photo-2022-12-07-22-39-18.jpg" alt="photo-2022-12-07-22-39-18" border="0"></a>
                <a href=""><strong>СБЕР</strong></a>
                    <a href="https://fm.arz-host.xyz/"><img src="https://i.ibb.co/4mJRNDB/OPPXx3-Qt-Ik-Q.jpg" alt="OPPXx3-Qt-Ik-Q" border="0"></a>
              </p><br>
            </div>
          </section>

        <!-- Wrapper -->
          <section id="wrapper">

            <!-- One -->
             

            <!-- Two -->
              

            <!-- Three -->
              

            <!-- Four -->
            <!-- WHY DONATE
              <section id="four" class="wrapper alt style1">
                <div class="inner">
                  <h3>Why donate?</h3>
                  <p style="text-transform:none;">
                    Ok, so donations. Many people love this service and to my surprise, many have actually asked to donate. In allgoodconscience, I can't on the one hand write about how awesome and cost effective Azure is then on the other hand askfordonations to fund it. It's cheap — I've got it covered.
                  </p>
                  <p style="text-transform:none;">
                    Let me instead talk about the sacrifices required to make a service like this work. It can be enormously time consumingandthat's the real cost here. Plus there are a few services I pay for out of my own pocket to make the magic happen. If you wantto kick in to help me cover those costs, that would be awesome. And no problem if you don't want to either; justshare thelove and help others make use of the service.
                  </p>
                </div>
              </section>
            -->

              <!-- Four -->
              

        <!-- Footer -->
          <section id="footer">
            <div class="inner">
              
              <!-- <p style="text-transform:none;">
                Let me instead talk about the sacrifices required to make a service like this work. It can be enormously time consumingandthat's the real cost here. Plus there are a few services I pay for out of my own pocket to make the magic happen. If you wantto kick in to help me cover those costs, that would be awesome. And no problem if you don't want to either; justshare thelove and help others make use of the service.
              </p> -->
              <!-- <ul class="contact">
                <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
                <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
              </ul> -->
              <ul class="copyright">
                <li>© <a href="https://ARZ-HOST.XYZ/">Аренда Сервера Хостинг домены </a></li><!--<li>Design: <a href="http://html5up.net">HTML5 UP</a>--><a href="https://ARZ-HOST.XYZ/">
                
                
              </a></ul><a href="https://ARZ-HOST.XYZ/">
            </a></div><a href="https://ARZ-HOST.XYZ/">
          </a></section><a href="https://ARZ-HOST.XYZ/">

      </a></section></div><a href="https://ARZ-HOST.XYZ/">

    <!-- Scripts -->
     
  

</a></body></html>
